<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="ABSOLUTE_PATH" value="/mydata/logs/demo-springboot"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger) - %highlight(%msg) %n
            </pattern>
        </encoder>
    </appender>

    <appender name="applicationAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${ABSOLUTE_PATH}/%d{yyyy-MM-dd,aux}/application-%d{yyyy-MM-dd-HH}.log
            </fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                %date{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="launchAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${ABSOLUTE_PATH}/%d{yyyy-MM-dd,aux}/launch-%d{yyyy-MM-dd-HH}.log
            </fileNamePattern>
            <maxHistory>720</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                %date{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--	<logger name="com.yuson" level="INFO" additivity="false">
            <appender-ref ref="applicationAppender"/>
        </logger>-->

<!--    <logger name="com.yuson" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>-->

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="launchAppender"/>
    </root>

</configuration>